.main-layout {
    background-color: green;
    height: 100%;
    width: 100%;
}

.Calc-layout {
    border: 3px solid black;
    border-radius: 10px;
    background-color: grey;
    height: 500px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.output {
    background-color: white;
    border: 3px solid black;
    font-size: xx-large;
    border-radius: 10px;
    height: 100px;
    width: 250px;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#FirstNumber {
    border: 3px solid black;
    width: 200px;
    height: 40px;
    position: fixed;
    top: 33%;
    left: 42%;
    transform: translate(-50%, -50%); 
}

#SecondNumber {
    border: 3px solid black;
    width: 200px;
    height: 40px;
    position: fixed;
    top: 43%;
    left: 42%;
    transform: translate(-50%, -50%); 
}

button:hover {
    background-color: darkgray;
    cursor: pointer;
}

#Addition {
    border-radius: 10px;
    border: 3px solid black;
    position: fixed;
    height: 40px;
    width: 100px;
    top: 57%;
    left: 25%;
    transform: translate(-50%, -50%); 
}

#Subtract {
    border-radius: 10px;
    border: 3px solid black;
    position: fixed;
    height: 40px;
    width: 100px;
    top: 57%;
    left: 60%;
    transform: translate(-50%, -50%); 
}

#Multiply {
    border-radius: 10px;
    border: 3px solid black;
    position: fixed;
    height: 40px;
    width: 100px;
    top: 67%;
    left: 25%;
    transform: translate(-50%, -50%); 
}

#Divide {
    border-radius: 10px;
    border: 3px solid black;
    position: fixed;
    height: 40px;
    width: 100px;
    top: 67%;
    left: 60%;
    transform: translate(-50%, -50%);
}
