.main-layout {
    display: flex;
    height: 100%;
}

.menu-container {
    width: 20%;
    background-color:antiquewhite;
}
.chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 60%;
    overflow-y: auto;
    overflow-x: hidden;
}

.user-a {
    background-color: rgb(255, 0, 200);
    align-self: flex-start;
    border-radius: 5px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
}
.user-b {
    background-color:cyan;
    align-self: flex-end;
    border-radius: 5px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
}
.message {
    border-radius: 5px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

img {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    padding:  0.5rem;
}
.menu-item {
    display:  flex;
    align-items: center;
}
.menu-item:hover {
    background-color: grey;
    cursor: pointer;
}
